<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthycheese.wiseeat.mapper.FriendCircleMapper">
  <resultMap id="BaseResultMap" type="com.healthycheese.wiseeat.entity.FriendCircle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.healthycheese.wiseeat.entity.FriendCircleWithBLOBs">
    <result column="article" jdbcType="LONGVARCHAR" property="article" />
    <result column="like" jdbcType="LONGVARCHAR" property="like" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id
  </sql>
  <sql id="Blob_Column_List">
    article, `like`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_friend_circle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_friend_circle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.healthycheese.wiseeat.entity.FriendCircleWithBLOBs">
    insert into tb_friend_circle (id, user_id, article, 
      `like`)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{article,jdbcType=LONGVARCHAR}, 
      #{like,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.healthycheese.wiseeat.entity.FriendCircleWithBLOBs">
    insert into tb_friend_circle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="article != null">
        article,
      </if>
      <if test="like != null">
        `like`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="article != null">
        #{article,jdbcType=LONGVARCHAR},
      </if>
      <if test="like != null">
        #{like,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.healthycheese.wiseeat.entity.FriendCircleWithBLOBs">
    update tb_friend_circle
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="article != null">
        article = #{article,jdbcType=LONGVARCHAR},
      </if>
      <if test="like != null">
        `like` = #{like,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.healthycheese.wiseeat.entity.FriendCircleWithBLOBs">
    update tb_friend_circle
    set user_id = #{userId,jdbcType=INTEGER},
      article = #{article,jdbcType=LONGVARCHAR},
      `like` = #{like,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.healthycheese.wiseeat.entity.FriendCircle">
    update tb_friend_circle
    set user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>